<ion-navbar *navbar dark>
  <ion-buttons dark end>
    <button (click)="openSettings()">
    <ion-icon name="options"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>
    Search
  </ion-title>
</ion-navbar>

<ion-content class="search">

  <ion-searchbar id="search_bar" placeholder="search keyword" #search_bar (search)="search(search_bar.value)"></ion-searchbar>
  <!--<button *ngIf="search_bar.value" block large (tap)="search(keyword)">Search</button>-->
  <div *ngIf="settingsService.settingsReady">
    <preview-image *ngFor="let item of items" (press)="pressAction(item)" [artwork]="item" [hidden]="!settingsService.isAllowedByMatureSettings(item)" (error)="console.log('error loading')"></preview-image>
  </div>

</ion-content>