<ion-navbar *navbar dark class="nav-toolbar">
  <ion-buttons dark end>
    <button (click)="openSettings()">
    <ion-icon name="options"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-navbar>

<ion-content class="home" dark>
  <div *ngIf="settingsService.settingsReady">
    <preview-image *ngFor="let item of items" (press)="pressAction(item)" [artwork]="item" [hidden]="!settingsService.isAllowedByMatureSettings(item)"
      (error)="console.log('error loading')"></preview-image>
  </div>
</ion-content>